@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}
#welcome {
  background: #f2eff0;
  margin-top: 0%;
  margin: 0 auto;
  width: 100%;
  /* position: relative; */
}
#due {
  font-family: "Rock Salt", cursive;
}
#work {
  font-family: "Poller One", cursive;
  font-weight: lighter;
  font-size: 20px;
}
#formImg {
  display: flex;
  margin-left: 40px;
}
#formButton {
  height: 25px;
}
#formButton:hover {
  box-shadow: 0 0 10px 0 #e8cb67 inset, 0 0 20px 2px #e8cb67;
}
#dueHead {
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-left: 5%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (device-width: 1866px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    margin-left: 15%;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}
@media screen and (device-width: 1024px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    margin-left: -60px;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 800px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -21%;
  }
  #welcome {
    width: 100%;
  }
}
@media screen and (device-width: 768px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -6%;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}

@media screen and (device-width: 540px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -11%;
    justify-content: center;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}
@media screen and (device-width: 414px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -16%;
    justify-content: center;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}
@media screen and (device-width: 411px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -18%;
    justify-content: center;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}
@media screen and (device-width: 375px) {
  #box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -21.6%;
    justify-content: center;
  }
  #welcome {
    width: 100%;
  }
  #welcome h1 {
    font-size: 22px;
  }
}
